
.containerQuiz {
    margin: auto;
    width: 90%;
    width: 90vw;
    display: grid;
    grid-template-areas:
        'logo'
        'main'
        'options'
        'navigation';
}

.logo {grid-area: logo;}
.main {grid-area: main;}

.options {
    grid-area: options;
    text-align: center;
}

.navigation {grid-area: navigation;}

.main img {
    width: 35vw;
    max-width: 11rem;
}

.main h2{
    font-weight: 500;
    line-height: 2.5rem;
    padding: 1.6rem;
    padding-bottom: .5rem;
    font-size: 1.7rem;
    color: #6E6E6E;
}

.btn-home {
    margin: auto;
}

.optionButton {
    color: #6E6E6E;
    margin: auto;
    width: 80vw;
    border-radius: .5rem;
    padding: .8rem;
    margin-bottom: 1.5rem;
    background-color: #fff;
    -webkit-box-shadow: 0px 21px 68px -14px rgba(110,110,110,0.71);
    -moz-box-shadow: 0px 21px 68px -14px rgba(110,110,110,0.71);
    box-shadow: 0px 21px 68px -14px rgba(110,110,110,0.71);
}

a{
    outline: none;
    cursor: none;
    text-decoration: none;
}

p{
    color: #6E6E6E;
    font-weight: 500;
    line-height: 2.5rem;
    padding: 0 1rem 1.6rem 1rem;
}

.buttonPrev {
    width: 7rem;
    text-align: center;
    border-radius: 3rem;
    padding: 1rem;
    color: #15573F;
    border: 1px solid #15573F;
}

.buttonNext {
    width: 7rem;
    text-align: center;
    border-radius: 3rem;
    padding: 1rem;
    color: #fff;
    background-color: #15573F;
}

.selected{
    background-color: #FD9872;
    color: #fff;
    -webkit-box-shadow: 0px 21px 27px -22px rgba(253,152,114,1);
-moz-box-shadow: 0px 21px 27px -22px rgba(253,152,114,1);
box-shadow: 0px 21px 27px -22px rgba(253,152,114,1);
}