.containerQuiz {
    margin: auto;
    width: 90%;
    width: 90vw;
    display: grid;
    grid-template-areas:
        'logo'
        'main'
        'options'
        'navigation';
}

.logo {grid-area: logo;}
.main {grid-area: main;}

.options {
    grid-area: options;
    text-align: center;
}

.navigation {
    grid-area: navigation;
    display: grid;
}

.main img {
    width: 35vw;
    max-width: 11rem;
}

.main h2{
    font-weight: 500;
    line-height: 2.5rem;
    padding: 1.6rem;
    padding-bottom: .5rem;
    font-size: 1.7rem;
    color: #6E6E6E;
    text-align: center;
}

.btn-home {
    margin: auto;
}

.optionButton {
    color: #6E6E6E;
    margin: auto;
    width: 80vw;
    border-radius: .5rem;
    padding: .8rem;
    margin-bottom: 1.5rem;
    background-color: #fff;
    -webkit-box-shadow: 0px 21px 68px -14px rgba(110,110,110,0.71);
    -moz-box-shadow: 0px 21px 68px -14px rgba(110,110,110,0.71);
    box-shadow: 0px 21px 68px -14px rgba(110,110,110,0.71);
}

.optionButton:hover g{
    fill: #fff;
}

p{
    color: #6E6E6E;
    font-weight: 500;
    line-height: 2.5rem;
    padding: 0 1rem 1.6rem 1rem;
}

            .buttonPrev {
                width: 7rem;
                text-align: center;
                border-radius: 3rem;
                padding: 1rem;
                color: #15573F;
                border: 1px solid #15573F;
                grid-area: prev;
                display: flex;
                justify-content: space-around;
            }

.button-prev {
    width: 7rem;
    text-align: center;
    border-radius: 3rem;
    padding: 1rem;
    color: #15573F;
    border: 1px solid #15573F;
    grid-area: prev;
    display: flex;
    justify-content: space-around;
}

                .buttonNext {
                    width: 7rem;
                    text-align: center;
                    border-radius: 3rem;
                    padding: 1rem;
                    color: #fff;
                    background-color: #15573F;
                    grid-area: next;
                    display: flex;
                    justify-content: space-around;
                }

.button-next {
    width: 7rem;
    text-align: center;
    border-radius: 3rem;
    padding: 1rem;
    color: #fff;
    background-color: #15573F;
    grid-area: next;
    display: flex;
    justify-content: space-around;
}

            .buttonPrev path{
                stroke: #15573F;
            }
.button-prev path{
    stroke: #15573F;
}

            .buttonNext path{
                stroke: #15573F;
            }
.button-next path{
    stroke: #15573F;
}

.selected.option-sun{
    background-color: #FD9872;
    color: #fff;
    font-weight: 700;
    -webkit-box-shadow: 0px 21px 27px -22px rgba(253,152,114,1);
    -moz-box-shadow: 0px 21px 27px -22px rgba(253,152,114,1);
    box-shadow: 0px 21px 27px -22px rgba(253,152,114,1);
}

.selected.option-pets{
    background-color: #FD9872;
    color: #fff;
    font-weight: 700;
    -webkit-box-shadow: 0px 21px 27px -22px rgba(253,152,114,1);
    -moz-box-shadow: 0px 21px 27px -22px rgba(253,152,114,1);
    box-shadow: 0px 21px 27px -22px rgba(253,152,114,1);
}
        
.selected.option-water{
    background-color: #7BAF9E;
    color: #fff;
    -webkit-box-shadow: 1px 2px 9px -1px rgba(123,175,158,1);
    -moz-box-shadow: 1px 2px 9px -1px rgba(123,175,158,1);
    box-shadow: 1px 2px 9px -1px rgba(123,175,158,1);
}

.option-pets g{
    fill: #FD9872;
}

.option-water g{
    fill: #7BAF9E;
}

.arrow-prev{
    transform: rotate(180deg);
}


.selected g{
    fill: #fff;
}

@media (min-width: 801px){
    .containerQuiz{
        display: grid;
        width: 100vw;
        grid-template-areas:
            'logo main empty'
            'logo question empty'
            'logo navigation empty';
            grid-template-columns: 1fr 5fr 1fr;
    }

    .empty {
        grid-area: empty;
        width: 10vw;
        min-width: 10vw;
        max-width: 10vw;
    }
    .question{
        grid-area: question;
        display: flex;
        margin: auto;
        padding: 1rem;
    }

    .optionButton{
        padding: 1.6rem;
        margin: 1rem;
        width: 9rem;
        height: 8rem;
        font-size: .9rem;
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: center;
    }

    .optionButton:hover{
        font-weight: 700;
        color: #fff;
        background-color: #FD9872;
    }

                .optionButton, .buttonNext, .buttonPrev:hover{
                    cursor: pointer;
                }
    
    .optionButton, .button-next, .button-prev:hover{
        cursor: pointer;
    }

    .logo-quiz{
        transform: rotate(-90deg);
        padding: 0;
        margin: auto;
        margin-top: 10rem;
        width: 10vw;
        min-width: 10vw;
        max-width: 10vw;
    }

    .main-quiz{
        padding: 0;
        margin: auto;
    }

    .main-quiz img{
        display: flex;
        margin: auto;
        max-width: 8rem;
        padding-top: 3rem;
    }
    
    .main h2{
        max-width: 30rem;
    }

    .navigation{
        display: flex;
        justify-content: space-around;
        grid-template-areas:
        'prev next';
    }
                .buttonPrev:hover{
                    background-color: #15573F;
                    color: #fff;
                }
                .buttonPrev:hover path{
                    stroke: #fff;
                }    
    
    .button-prev:hover{
        background-color: #15573F;
        color: #fff;
    }
    .button-prev:hover path{
        stroke: #fff;
    }

                .buttonNext{
                    background-color: #fff;
                    color: #15573F;
                    border: 1px solid #15573F;
                }

                .buttonNext:hover{
                    background-color: #15573F;
                    color: #fff;
                }
                .buttonNext:hover path{
                    stroke: #fff;
                }

    .button-next{
        background-color: #fff;
        color: #15573F;
        border: 1px solid #15573F;
    }

    .button-next:hover{
        background-color: #15573F;
        color: #fff;
    }
    .button-next:hover path{
        stroke: #fff;
    }

    .option-label{
        width: 100%;
    }
    .option-icon svg{
        width:4rem;
        height: 4rem;
    }
    
}

@media (max-width:800px){
    
    .navigation {
        margin: auto;
        grid-template-areas:
            'next'
            'prev';
    }
    
                .buttonNext{
                    margin: 1rem;
                }
    .button-next{
        margin: 1rem;
    }

                .buttonPrev{
                    margin: 1rem;
                }

    .button-prev{
        margin: 1rem;
    }
    
                .buttonNext path{
                    stroke: #fff;
                }
    .button-next path{
        stroke: #fff;
    }

    .optionButton{
        display: flex;
        height: 3rem;
    }
    .option-label{
        display: flex;
        align-items: center;
        margin: auto;
    }
    .option-icon svg{
        height: 3rem;
        width: 3rem;
        margin-right: 1rem;
    }
}