.container-results {
    margin: auto;
    width: 100%;
    width:100vw;
    display: grid;
    grid-template-areas:
        'logo'
        'main'
        'plants';
}

.logo {grid-area: logo;}

.main {
    grid-area: main;
}

.main-results img {
    padding-top:1rem;
}

.main-results h1 {
    padding:1rem;
}

.plants {
    grid-area: plants;
}

.plant-group{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    max-width: 100vw;
}

h1{
    padding: 2rem;
    font-size: 3rem;
    font-weight: 800;
}
